# Importação de bibliotecas

In [ ]:
import numpy as np
import pandas as pd

# Conjunto de dados OR

Nesta seção, será o Perceptron será aplicado para o conjunto de dados que implementa o operador lógico OR.

## Implementação do Perceptron

In [ ]:
# Função que faz a predição de acordo com os pesos calculados
def predict_or(row, weights): # row é uma linha do conjunto de treino; weights é o valor dos pesos de cada neuronio e do viés theta

	activation = weights[0] # inicia-se o valor de ativação com theta (que ocupa a primeira posicao do vetor de pesos)

	for i in range(len(row)-1): # loop atraves de cada xi

		activation += weights[i + 1] * row[i] # Somatório de [pesos"wi" * entradas "xi"]

	# se o resultado do processamento é maior do que 0, a função retorna 1
	# caso contrário, retorna 0 (o retorno é binário)
	return 1.0 if activation >= 0.0 else 0.0

# Função que estima os pesos a partir no método stochastic gradient descent
def train_weights_or(train, l_rate, n_epoch): # l_rate é a taxa de aprendizado definida pelo usuário; n_epoch é a quantidade de épocas

	weights = [0.0 for i in range(len(train[0]))] # pesos inicializados com 0

	print('pesos iniciais: ' + str(weights))

	for epoch in range(n_epoch): # loop através da quantidade de vezes que a atualização de pesos será repetida para todas as linhas de treino

		sum_error = 0.0 # soma dos erros quadráticos

		for row in train: # loop através de cada linha do conjunto de treinamento

			prediction = predict_or(row, weights) # retorna a predição do algoritmo para a linha atual do conjunto de treino

			error = row[-1] - prediction # erro dado pela subtração entre valor real e a predição

			sum_error += error**2 # soma dos erros quadráticos, função quadrática do erro para criar a parabola que guiará o aperfeiçoamento do algoritmo além de eliminar valores negativos

			weights[0] = weights[0] + l_rate * error # atualiza o theta

			for i in range(len(row)-1): # loop para atualizar os pesos da linha atual

				weights[i + 1] = weights[i + 1] + l_rate * error * row[i] # atualização do peso, dado o novo peso pelo peso atual somado a (taxa aprendizado * erro * a entrada xi)

		print(f'época = {epoch}, erro quadrático = {sum_error:.3f}')

	print('pesos finais: ' + str(weights))
	return weights # retorna os pesos

# Algoritmo perceptron com stochastic gradient descent
def perceptron_or(train, test, l_rate, n_epoch): # recebe conjunto de treinamento (train) e teste (teste), taxa de apendizado (l_rate) e quantas vezes o algoritmo de atualizações dos pesos será repetido (n_epoch)

	predictions = list() # lista das predições finais

	weights = train_weights_or(train, l_rate, n_epoch) # pesos escolhidos a partir da função train_weights

	for row in test: # loop através de cada linha de teste, com os pesos já definidos

		prediction = predict_or(row, weights) # faz a predição de acordo com os pesos definidos
		predictions.append(prediction) # adiciona a predição  na lista de predições

	return predictions # retorna lista de predições finais

## Dataframe

Nesta parte será criado o dataframe que contém a relação entre entradas e saídas para o operador OR.

In [ ]:
data = {'X1': [0, 0, 1, 1], 'X2': [0,1,0,1], 'Y': [0, 1, 1, 1]} # dados da relação
df = pd.DataFrame(data=data) # criação do dataframe

In [ ]:
df

   X1  X2  Y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  1

## Conjunto de treinamento

A seguir será definido qual é o conjunto de treinamento para o Perceptron. Neste caso, o conjunto será todo o dataframe construído anteriormente.

In [ ]:
treino = df.copy() # conjunto de treinamento recebe uma copia do dataframe original

In [ ]:
treino.head()

   X1  X2  Y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  1

Será necessário converter o conjunto de treinamento para um array numpy.

In [ ]:
treino = treino.to_numpy() # conversao para array numpy

## Conjunto de teste

A seguir será definido qual é o conjunto de teste para o Perceptron. Neste caso, o conjunto de teste utilizado será todo o dataframe originalmente construído também, uma vez que há poucos casos para testes (4 diferentes casos).

In [ ]:
teste = df.copy() # conjunto de teste recebe uma copia do dataframe original

In [ ]:
teste.head()

   X1  X2  Y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  1

Será necessário converter o conjunto de teste para um array numpy.

In [ ]:
teste = teste.to_numpy() # conversao para array numpy

## Aplicação do Perceptron

A seguir será feito o treinamento do Perceptron a partir do conjunto "treino", e a predição a partir do conjunto "teste".

### Treinamento do Perceptron

In [ ]:
y_pred = perceptron_or(treino, teste, 0.1, 25)

pesos iniciais: [0.0, 0.0, 0.0]
época = 0, erro quadrático = 2.000
época = 1, erro quadrático = 2.000
época = 2, erro quadrático = 1.000
época = 3, erro quadrático = 0.000
época = 4, erro quadrático = 0.000
época = 5, erro quadrático = 0.000
época = 6, erro quadrático = 0.000
época = 7, erro quadrático = 0.000
época = 8, erro quadrático = 0.000
época = 9, erro quadrático = 0.000
época = 10, erro quadrático = 0.000
época = 11, erro quadrático = 0.000
época = 12, erro quadrático = 0.000
época = 13, erro quadrático = 0.000
época = 14, erro quadrático = 0.000
época = 15, erro quadrático = 0.000
época = 16, erro quadrático = 0.000
época = 17, erro quadrático = 0.000
época = 18, erro quadrático = 0.000
época = 19, erro quadrático = 0.000
época = 20, erro quadrático = 0.000
época = 21, erro quadrático = 0.000
época = 22, erro quadrático = 0.000
época = 23, erro quadrático = 0.000
época = 24, erro quadrático = 0.000
pesos finais: [-0.1, 0.1, 0.1]

### Predição

In [ ]:
y_pred

[0.0, 1.0, 1.0, 1.0]

# Conjunto de dados Clara-Escura

Nesta seção, será o Perceptron será aplicado para o conjunto de dados  "Clara-Escura".

## Implementação do Perceptron

É importante ressaltar neste ponto que a implementação do Perceptron é praticamente a mesma da implementação anterior. A única mudança está na linha de retorno da função *predict_clara_esc*, em que agora a função retorna 1 ou -1. Na implementação anterior, essa função retornava 1 ou 0.

A maior parte dos comentários do código foram omitidos, uma vez que eles são os mesmos da implementação anterior. O comentário que é importante destacar é o comentário referente ao retorno da função *predict_clara_esc*, que indica o local em que houve a única alteração em relação à implementação anterior.

In [ ]:
# Função que faz a predição de acordo com os pesos calculados
def predict_clara_esc(row, weights):

	activation = weights[0]

	for i in range(len(row)-1):

		activation += weights[i + 1] * row[i]

	return 1.0 if activation >= 0.0 else -1.0 # linha que sofreu alteração no retorno de (1,0) para (1,-1)

# Função que estima os pesos a partir no método stochastic gradient descent
def train_weights_clara_esc(train, l_rate, n_epoch):

	weights = [0.0 for i in range(len(train[0]))]

	print('pesos iniciais: ' + str(weights))

	for epoch in range(n_epoch):

		sum_error = 0.0

		for row in train:

			prediction = predict_clara_esc(row, weights)

			error = row[-1] - prediction

			sum_error += error**2

			weights[0] = weights[0] + l_rate * error

			for i in range(len(row)-1):

				weights[i + 1] = weights[i + 1] + l_rate * error * row[i]

		print(f'época = {epoch}, erro quadrático = {sum_error:.3f}')

	print('pesos finais: ' + str(weights))
	return weights

# Algoritmo perceptron com stochastic gradient descent
def perceptron_clara_esc(train, test, l_rate, n_epoch):

	predictions = list()

	weights = train_weights_clara_esc(train, l_rate, n_epoch)

	for row in test:

		prediction = predict_clara_esc(row, weights)
		predictions.append(prediction)

	return predictions

## Dataframe

Nesta parte será criado o dataframe que contém a relação entre entradas e saídas para o conjunto de dados.

In [ ]:
data = {'X1': [-1,-1,-1,-1,1,-1,-1,1,1,-1,1,-1,1,1,1,1], 'X2': [-1,-1,-1,1,-1,-1,1,1,-1,1,-1,1,-1,1,1,1],
     'X3': [-1,-1,1,-1,-1,1,1,-1,1,-1,-1,1,1,-1,1,1], 'X4': [-1,1,-1,-1,-1,1,-1,-1,-1,1,1,1,1,1,-1,1],
     'Y': [-1,-1,-1,-1,-1,1,1,1,1,1,1,1,1,1,1,1]} # relação dos dados

df = pd.DataFrame(data=data) # criação do dataframe

In [ ]:
df

    X1  X2  X3  X4  Y
0   -1  -1  -1  -1 -1
1   -1  -1  -1   1 -1
2   -1  -1   1  -1 -1
3   -1   1  -1  -1 -1
4    1  -1  -1  -1 -1
5   -1  -1   1   1  1
6   -1   1   1  -1  1
7    1   1  -1  -1  1
8    1  -1   1  -1  1
9   -1   1  -1   1  1
10   1  -1  -1   1  1
11  -1   1   1   1  1
12   1  -1   1   1  1
13   1   1  -1   1  1
14   1   1   1  -1  1
15   1   1   1   1  1

In [ ]:
print("Formato do dataframe:", df.shape)

Formato do dataframe: (16, 5)

## Conjunto de treinamento

A seguir será definido qual é o conjunto de treinamento para o Perceptron. Neste caso, o conjunto será todo o dataframe construído anteriormente.

In [ ]:
treino = df.copy() # conjunto de treinamento recebe uma copia do dataframe original

In [ ]:
treino.head()

   X1  X2  X3  X4  Y
0  -1  -1  -1  -1 -1
1  -1  -1  -1   1 -1
2  -1  -1   1  -1 -1
3  -1   1  -1  -1 -1
4   1  -1  -1  -1 -1

In [ ]:
print("Formato do dataframe:", treino.shape)

Formato do dataframe: (16, 5)

Será necessário converter o conjunto de treinamento para um array numpy.

In [ ]:
treino = treino.to_numpy() # conversao para array numpy

## Conjunto de teste

A seguir será definido qual é o conjunto de teste para o Perceptron. Neste caso, o conjunto de teste escolhido a partir de 5 linhas aleatórias do dataframe original.

In [ ]:
teste = df.sample(n = 5, ignore_index=True) # amostragem aleatoria do dataframe original

In [ ]:
teste

   X1  X2  X3  X4  Y
0  -1   1  -1  -1 -1
1  -1   1  -1   1  1
2   1   1  -1   1  1
3  -1   1   1   1  1
4   1  -1  -1   1  1

Será necessário converter o conjunto de teste para um array numpy.

In [ ]:
teste = teste.to_numpy() # conversao para array numpy

## Aplicação do Perceptron

A seguir será feito o treinamento do Perceptron a partir do conjunto "treino", e a predição a partir do conjunto "teste".

### Treinamento do Perceptron

In [ ]:
y_pred = perceptron_clara_esc(treino, teste, 0.1, 25)

pesos iniciais: [0.0, 0.0, 0.0, 0.0, 0.0]
época = 0, erro quadrático = 12.000
época = 1, erro quadrático = 0.000
época = 2, erro quadrático = 0.000
época = 3, erro quadrático = 0.000
época = 4, erro quadrático = 0.000
época = 5, erro quadrático = 0.000
época = 6, erro quadrático = 0.000
época = 7, erro quadrático = 0.000
época = 8, erro quadrático = 0.000
época = 9, erro quadrático = 0.000
época = 10, erro quadrático = 0.000
época = 11, erro quadrático = 0.000
época = 12, erro quadrático = 0.000
época = 13, erro quadrático = 0.000
época = 14, erro quadrático = 0.000
época = 15, erro quadrático = 0.000
época = 16, erro quadrático = 0.000
época = 17, erro quadrático = 0.000
época = 18, erro quadrático = 0.000
época = 19, erro quadrático = 0.000
época = 20, erro quadrático = 0.000
época = 21, erro quadrático = 0.000
época = 22, erro quadrático = 0.000
época = 23, erro quadrático = 0.000
época = 24, erro quadrático = 0.000
pesos finais: [0.2, 0.2, 0.2, 0.2, 0.2]

### Predição

In [ ]:
y_pred

[-1.0, 1.0, 1.0, 1.0, 1.0]